<header>
	<pre class="ascii logo">
                                             [████████▌                                             

                                             ▐████████▌                                             

                                         ▓▓▓▓██████████▓▓▓▓⌐                                        

                                         ██████████████████⌐                                        

                                    ╔▄▄▄▄██████████████████▓▄▄▄▄                                    

                                    ║██████████████████████████▌                                    

                                ▄▄▄▄Å▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▄▄▄▄⌐                               

                                ████▌                          ▐████=                               

                           ╥▄▄▄▄▀▀▀▀Γ                           ▀▀▀▀▄▄▄▄▄                           

                           ▓████                                    █████                           

                       ▄▄▄▄▀▀▀▀▀▄▄▄▄▄▄▄▄▄▄▄▄▄∩        .▄▄▄▄▄▄▄▄▄▄▄▄▄▀▀▀▀▀▄▄▄▄                       

                       ████H    █████████████▌        ▐█████████████=    ████H                      

                  ╓▄▄▄▄▀▀▀▀▄▄▄▄▄█████████████▌        ▐█████████████▄▄▄▄▄▀▀▀▀▄▄▄▄▄                  

                  █████    ▓█████████████████▌        ▐██████████████████    ▓████                  

              ╓╓╓╓▀▀▀▀▀╓╓╓╓██████████████████▌        ▐██████████████████╓╓╓╓Å▀▀▀▀╓╓╓╓              

             ▐████=    ██████████████████████▌        ▐██████████████████████H    ████▌             

             ▐████=    ██████████████████████▌        ▐██████████████████████H    ████▌             

             ▐████=    ██████████████████████▌        ▐██████████████████████H    ████▌             

             ▐████=    ██████████████████████▌        ▐██████████████████████H    ████▌             

             ▐████=    ██████████████████████▌        ▐██████████████████████H    ████▌             

             ▐████=    ██████████████████████▌        ▐██████████████████████H    ████▌             

             ▐████=    ██████████████████████▌        ▐██████████████████████H    ████▌             

             ▐████=    ██████████████████████▌        ▐██████████████████████H    ████▌             

             ▐███████████████████████████████▌        ▐███████████████████████████████▌             

             ▐███████████████████████████████▌        ▐███████████████████████████████▌             

                  ██████████████         ████▌        ▐████⌐        ██████████████                  

                  ██████████████         ████▌        ▐████⌐        ██████████████                  

                                    ║████████▌        ▐████████▌                                    

                                    ║████████▌        ▐████████▌                                    

                                █████████                  █████████=                               

                                █████████                  █████████=                               

                                └└└└└└└└└                  └└└└└└└└└                                     
	</pre>
	<pre class="ascii name">


██╗  ██╗ █████╗  ██████╗██╗  ██╗         █████╗ ███╗   ██╗██████╗         ███████╗██╗      █████╗    ███████╗██╗  ██╗
██║  ██║██╔══██╗██╔════╝██║ ██╔╝        ██╔══██╗████╗  ██║██╔══██╗        ██╔════╝██║     ██╔══██╗   ██╔════╝██║  ██║
███████║███████║██║     █████╔╝         ███████║██╔██╗ ██║██║  ██║        ███████╗██║     ███████║   ███████╗███████║
██╔══██║██╔══██║██║     ██╔═██╗         ██╔══██║██║╚██╗██║██║  ██║        ╚════██║██║     ██╔══██║   ╚════██║██╔══██║
██║  ██║██║  ██║╚██████╗██║  ██╗███████╗██║  ██║██║ ╚████║██████╔╝███████╗███████║███████╗██║  ██║██╗███████║██║  ██║
╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═╝
                                                                                                                         
</pre>
</header>